---
import Counter from "../components/Counter";
import ReactWrapper from "../components/ReactWrapper.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Astro Testing Example">
  <main>
    <ReactWrapper />
  </main>
</Layout>
